<h1>Post-it Note</h1>
<p>Create, edit, and manage all your post-it notes with this amazingly simple to use application! Exclusively available on Michael's GitHub. </p>
<%= link_to 'Notes', notes_path %>
<%= link_to 'Create a new Note', new_note_path %>

